
.product-info-container{
    
    display: flex;
    flex-direction: column; 
    margin: 5px;
    position: relative;
}

.product-info-container:hover .wishlist-button-container{

    opacity: 1;
 
}

.information{

      display:inline-flex;
      color:var(--TEXTCOLOR);
      padding: 2px;
      
    }

    /* .product-info-container:hover{

      outline: 1px solid rgb(241, 241, 241);
      box-shadow: 10px 5px 5px rgb(241, 241, 241);

    } */

    .wishlist-button-container{
        position: absolute;
        top: 5px;
        z-index: 2;
        opacity: 0;
        display: flex;
        width: 100%;
        justify-content: center;


    }

    .wishlist-button{
       border: 1px solid #d4d5d9;
      cursor: pointer;
       color: var(--TEXTCOLOR);
       display:flex;
       width:100%;
       background-color: white;
       justify-content: center;
       padding: 10px 5px;
       font-weight: 500;

      
    }

    .wishlist-button:hover{
        border: 1px solid black;
    }

    .wishlist-button{
        margin: 2px;
    }